<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992226636200-4mrajultn9jupq5klgpr0lgif9lorsl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992226636200-4mrajultn9jupq5klgpr0lgif9lorsl9</string>
	<key>API_KEY</key>
	<string>AIzaSyCv3oRzsTujZeCYEnoZlx89MoxKhVk9ac8</string>
	<key>GCM_SENDER_ID</key>
	<string>992226636200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johntran9401.myApp</string>
	<key>PROJECT_ID</key>
	<string>iot-app-project-51a9e</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-app-project-51a9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992226636200:ios:8e2f55c0bc039409316d9d</string>
</dict>
</plist>